
h1 {
    color: blue;
    font-family:sans-serif;
    font-size:50px;
    text-align:center;
    background-color:blue;
    font-weight: 900;
    font-style: italic;}
body{
    background-color: rgb(0, 174, 255);
}
ul {
    font-size: 90px;
    font-style: italic;
    list-style-type: square;   
}
a{ 
  border: 20px solid rgb (215, 115, 238);
}
h1{
    border-bottom:20px solid #333 ;
}
body{
    background-color: rgb(215, 183, 255);
}
.contact-us h2 {
  font-size: 40px;
}

.contact-us p {
  font-size: 90px;
}
.contact-us {
  background-color: #f4f4f4;
  padding: 60px; 
}





    