
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: Arial, sans-serif;
    }

    body {
      background: #f4f4f4;
    }

    .navbar {
      background: #007BFF;
      padding: 15px 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: white;
    }

    .nav-links a {
      color: white;
      text-decoration: none;
      margin-left: 20px;
    }

    .nav-links a:hover {
      text-decoration: underline;
    }

    .hero {
      height: 80vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      background: linear-gradient (to right, #007BFF, #00c6ff);
      color: white;
      padding: 20px;
    }

    .hero h1 {
      font-size: 90px;
      margin-bottom: 15px;
    }

    .hero p {
      font-size: 90px;
      max-width: 600px;
    }

    .btn {
      margin-top: 20px;
      padding: 12px 25px;
      border: none;
      background: white;
      color: #007BFF;
      border-radius: 5px;
      cursor: pointer;
    }

    .footer {
      text-align: center;
      padding: 15px;
      background: #222;
      color: white;
   
    }